body {
    font-family: source sans pro, sans-serif;
    background-image: url(assets/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    transition: o.4s;
    cursor: pointer;
}
a:hover {
    color: #FF6565;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.landing {
    padding-top: 200px;
    text-align: center;
}

.landing h1 {
    margin: 0px;
    font-size: 32px;
    color: #fff;
}

.landing p {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.follow_up p {
    margin: 0px;
    text-align: center;
    margin-top: 60px;
    color: #fff;
}

button {
    display: block;
    margin: auto;
    width: 162px;
    height: 44px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    background-color: #FF6565;
    color: #fff;
    border: none;
    margin-top: 40px;
    box-shadow: 2px 2px 5px 1px #000000b9;
    transition: o.4s;
    cursor: pointer;
}

button:hover {
    color: #ffffffd0;
    background-color: #ff6565d2;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

@media only screen and (max-width: 480px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10%;
        position: relative;
    }

    header img {
        height: 50px;
        width: auto;
        align-items: center;
    }

    .hamburger {
        display: flex;
        position: absolute;
        left: 10%;
        top: 30px;
    }

    
    a {
        margin-left: auto; 
    }

    nav {
        display: none;
    }

    #menu-toggle:checked + label + nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0; 
        width: 100%;
        text-align: center;
    }

    .nav_links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav_links li {
        margin: 10px 0;
    }

    .nav_links a {
        font-size: 12px;
    }
    #menu-toggle:checked + label .hamburger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #menu-toggle:checked + label .hamburger span:nth-child(2) {
        opacity: 0; 
    }

    #menu-toggle:checked + label .hamburger span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}
